

  <div class="col-lg-12 col-md-12">
    <div class="alert alert-success" role="alert"*ngIf='Message'>
      {{Message}}
    </div>
    <div class="alert alert-danger" role="alert"*ngIf='ErrorMessage'>
                  
      <strong>{{ErrorMessage}}</strong> 
      
     </div>
     
    <br>
    <br>
    <h2 class="text-center" style="font-weight: bold; color: #000; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >User List</h2>
    <div class="card">
      
        <div class="card-header card-header-warning">
            <h4 class="card-title">Employees List</h4>
            <p class="card-category">New employees on 15th September, 2016</p>
        </div>
        
        <div class="card-body table-responsive">
  
          <a *ngIf="role=='Admin'" class="add" title="Add new user" data-toggle="modal" data-target="#UserCreationModal" ><i class="large material-icons">add</i></a>
          
            <table class="table table-hover">
                <thead class="text-warning">
                  
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Authintication</th>
                    <th class="text-center">Actions</th>
                  
                    
                </thead>
      
                <tbody *ngFor="let user of contacts | async;index as i">

                  <td>{{i+1}}</td>
                  <td> {{ user.fullName }}</td>
                  <td> {{ user.Email }}</td>
                  <td> {{ user.Role }}</td>
                  
                  <td class="text-center">  
                    <a class="edit" title="Show details" data-toggle="tooltip"><i class="material-icons" (click)="onEnterSite(user)">chat</i></a>
                    <a *ngIf="role=='Admin'"class="delete" title="Delete" data-toggle="modal" data-target="#exampleModal" ><i class="material-icons" (click)="openDialogForDeletion(user.$key=user)">delete</i></a>
                  </td> 
              
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hi admin are you sure you want to delete this user?!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger"data-dismiss="modal" (click)="onDelete()">Delete User</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UserCreationModal" tabindex="-1" role="dialog" aria-labelledby="UserCreationModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UserCreationModal">User Creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usr">Name: </label>
            <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" >
          </div>  
          <div class="form-group">
            <label for="pwd">Email: </label>
            <input type="email" class="form-control" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="pwd">Password: </label>
            <input type="password" class="form-control" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Authintications: </label>
            <select ngModule required (change)="selectChangeHandler($event)"class="form-control" >
                <option  value="User" ></option>
                <option value="Viwer">Veiwer</option>
                <option  value="User" >User</option>
              <option value="Admin">Admin</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sucess" (click)="openDialog()">Create User</button>
      </div>
    </div>
  </div>
</div>
