asgiref==3.2.7
audioread==2.1.8
certifi==2020.4.5.1
cffi==1.14.0
decorator==4.4.2
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
djangorestframework==3.11.0
joblib==0.14.1
librosa==0.7.2
llvmlite==0.31.0
numba==0.48.0
numpy==1.18.2
py==1.8.1
pycparser==2.20
python-decouple==3.3
pytz==2019.3
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
sqlparse==0.3.1
static3==0.7.0
wincertstore==0.2
