<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
           
            <ul *ngIf="authService.isAuthenticated()" class="navbar-nav">
               
                <li   class="nav-item dropdown">
                    <a class="nav-link"  id="navbarDropdownMenuLink" (click)="getMessages()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">
                        <i class="material-icons">message</i>
                        <span class="notification">{{length}}</span>
                      
                    </a>
                    <div  class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdownMenuLink">
                        <ng-container *ngFor="let msg of Message | async;let i = index" >
                        <a  *ngIf="i<5" class="dropdown-item">{{msg.data.Name}}  
                            <span class="notification">1</span></a>
                      
                    </ng-container>
                    <a  class="dropdown-item" (click)="goToMessages()">See More  <span class="notification">
                        ...
                        </span>
                    </a>
                    </div>
                </li>
                <li routerLinkActive="active" class="nav-item">
                    <a class="nav-link"  (click)="onEnterSite()" href="javascript:void(0)" >
                        <i class="material-icons">person</i>
                       
                    </a>
                </li>
                <li (click)="Exit()" class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                        <i   class="material-icons">exit_to_app</i>
                       
                    </a>
                </li>
            </ul>
            <ul  class="nav navbar-nav">
            
               
                  
                    <button *ngIf="!authService.isAuthenticated()" (click)="LoginPage()"   class="btn btn-secoundary">
                        login
                </button>
                
             
                </ul>
        </div>
    </div>
</nav>

