


<div class="col-12 col-md-12" style="margin-top: 5%;">  
  <div class="card">  
    <div class="card-body">  
      <div class="table-responsive cnstr-record">  
        <table class="table table-bordered">  
          <thead>  
            <tr>  
              <th width="30">Roll No</th>  
              <th width="100"> Tester Name</th>  
              <th width="50">Tested Algorithm</th>  
              <th width="70">Category</th>  
            
              <th width="50">Delete</th>  
            </tr>  
          </thead>  
          <tbody>  
            <tr *ngFor="let row of blankRowArray; let i = index">  
              <td>  
                <input type="text" disabled class="form-control wp-30" [(ngModel)]="blankRowArray[i].RollNo"  
                  [ngModelOptions]="{standalone: true}">  
              </td>  
              <td>  
                <input type="text" disabled class="form-control wp-30" [(ngModel)]="blankRowArray[i].Name"  
                  [ngModelOptions]="{standalone: true}">  
              </td>  
              <td>  
                <select [disabled]=Enable [(ngModel)]="blankRowArray[i].Algorithm" [ngModelOptions]="{standalone: true}"  
                  class="form-control wp-70">  
                  <option [ngValue]="0" disabled selected>--Choose--  
                  </option>  
                  <option [value]="1">Linear Regression</option>  
                  <option [value]="2">Logistic Regression</option>  
                  <option [value]="3">Support Vector Machines</option>  
                  <option [value]="4">Random Forest</option>  
                  <option [value]="5">Naïve Bayes Classification</option>  
                  <option [value]="6">Ordinary Least Square Regression</option>  
                  <option [value]="7">K-means</option>  
                  <option [value]="8">Ensemble Methods</option>  
                  <option [value]="9">Apriori Algorithm</option> 
                  <option [value]="10">Principal Component Analysis</option>  
                  <option [value]="11">Singular Value Decomposition</option>  
                  <option [value]="12">Reinforcement or Semi-Supervised Machine Learning</option> 
                  <option [value]="13">Independent Component Analysis</option>    
                </select>  
              </td>  
              <td>  
                <input list="Category" name="myBrowser" [(ngModel)]="blankRowArray[i].Catagory" (change)="OnCategoryCheked(blankRowArray[i].Catagory,i)"  
                [ngModelOptions]="{standalone: true}" class="form-control wp-80" >
                
<datalist  id="Category" >
  <!-- <option  *ngFor="let cat of contacts;let x =index" [value]=cat.path></option> -->
  <option *ngFor="let cat of data.sort() | keyvalue" [value]=cat.value></option>


</datalist > 

              </td>  
             
              <td style="align-items: center;">  
                <button (click)="deleteRow(i)" class="btn btn-danger">Delete Row</button>  
              </td>  
            </tr>  
            
          </tbody>  
        </table> 
         
      </div>
        
    </div>  
  </div> 
  <div class="center text-center" >  
    <button style="margin: 10px;" class="btn btn-primary" (click)="addBlankRow()">Add Category</button>  
  </div>  
  <div *ngIf="path.length">
    <h3  class="text-center">
      Path
    </h3>
    <div  class="alert alert-success text-center"  role="alert" >
   
    <div   *ngFor="let x of path" style="font-size: large;">

      {{x}}
      <div class="arrowdown center" ></div>
      <br>
    </div>
  </div>
</div>
  <div class="card" >
    <div class="card-header">Form
    
      <div class="input-group">
    <div class="input-group ">
      <button  class="btn btn-success btn-file" [disabled]="!Enable">     

          Upload File<input #file type="file" [disabled]="!Enable"  (change)="preview(file.files,$event)" id="imgInp">
      </button>
  </div>
  <h3 *ngIf="path.length">{{pathWithFile}}</h3>
      </div>
    </div>
    
  </div> 
  <div class="center text-center" >  
    <button data-toggle="modal" data-target="#Test" style="margin: 10px;" class="btn btn-warning" [disabled]="!check" (click) ="createPosts()" >Commeit new test</button>  
  </div> 
 
  <div *ngIf='res' class="card" style="text-align: center; " >

    
    
  </div> 
  <div class="modal fade" id="Test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"  style="margin-top: 5%;">
      <div class="item-summary">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="item-summary">
                <h4  class="alert alert-primary" style="text-align: center;">samplingrate 8000</h4>
            
                
                <address *ngIf='NewPost'class="alert alert-success">
                  <div *ngFor="let r of res.split(',')">
                    {{r}} <br/>
              </div> 
                <!-- <p class="street-address">{{res}}</p> -->
                
                </address>
                </div>
            </div>
            <div class="col-md-6 ml-auto">
              <div class="item-summary">
                <h4  class="alert alert-primary" style="text-align: center;">samplingrate 44100</h4>
               
                <address *ngIf='NewPost1' class="alert alert-success">
                  <div *ngFor="let r2 of res2.split(',')">
                    {{r2}} <br/>
              </div> 
                
                </address>
                </div>
            </div>
          </div>
    

        </div>
      </div>
  </div>
  <div class="center text-center" >  
    <button data-toggle="modal" data-target="#Test" data-dismiss="modal" style="margin: 10px;" class="btn btn-info" >Show More Info</button>  
  </div> 
  </div>
  <!-- {{NewPost |async| json}} -->

  <!-- <div *ngFor="let post of Posts | 
  async">
    {{post | json}}
  </div>  -->

</div>  
