.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
     height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.tooltip {  
    position: absolute;  
    z-index: 3000;  
    border: 1px solid #b7b086;  
    background-color: white;  
    color: #000!important;  
    padding: 5px 15px 5px 10px;  
    opacity: 1;  
    width: 350px;  
} 
.arrowdown {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #5bc0de;
    
  }
  .center {
    margin: auto;
  }

  .item-summary {
    width: 100%;
    background-color: #eaedef;
    padding: 1.5rem;
    box-sizing: border-box;
    margin-top: -0.2em;
  }
  table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}    
/*switch on-off */
.toggle-label {
    position: relative;
    width: 300px;
    height: 30px;
    margin-top: 10px;
  }
  .toggle-label input[type=checkbox] { 
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 15%;
  }
  .toggle-label input[type=checkbox]+.back {
      position: absolute;
      width: 100%;
      height: 30px;
      left: 0;
      top: 0;
      border-radius: 50px;
      border: 1px solid #000;
      transition: background 150ms linear;
  }
  .toggle-label input[type=checkbox]:checked+.back {
      border: 1px solid #000;
      cursor: pointer;
  }
  
  .toggle-label input[type=checkbox]+.back .toggle {
    display: block;
    position: absolute;
    content: ' ';
    background: #000;
    width: 50%; 
    height: 100%;
    transition: margin 150ms linear;
    border: 1px solid #808080;
    border-radius: 50px;
  }
  .toggle-label input[type=checkbox]:checked+.back .toggle {
    margin-left: 150px;
  }
  .toggle-label .label {
    display: block;
    position: absolute;
    width: 50%;
    color: #ddd;
    line-height: 24px;
    text-align: center;
    font-size: 10px;
  }
  .toggle-label .label.on { left: 0px; }
  .toggle-label .label.off { right: 0px; }
  
  .toggle-label input[type=checkbox]:checked+.back .label.on {
    color: #000;
  }
  .toggle-label input[type=checkbox]+.back .label.off {
    color: #000;
      cursor: pointer;
  }
  .toggle-label input[type=checkbox]:checked+.back .label.off {
    color: #ddd;
  }

  // #topscroll {
  //   position: absolute;

  //   display: block;
  //   margin-top: -10px;
  // }
  #upbutton{
    position: fixed;

    margin-top: -10px;
    margin-left: -10px;
  }
  /*switch on-off */