<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Used Space</p>
                      <h3 class="card-title">49/50
                          <small>GB</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">OverAll Tests</p>
                      <h3 class="card-title">{{testId.length}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-md-12 ">
              <div class="card card-chart" >
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                    <div class="float-right text-danger">
                       
                       
                        <p style="font-weight: 600;">  Sampling Rate 44100
                            <span class="material-icons">
                            
                                maximize 
                                </span>
                        </p> 
                      <br>
                      <p class="text-muted" style="font-weight: 600;">  &nbsp;Sampling Rate 8000
                        <span class="material-icons">
                        
                            maximize 
                            </span>
                    </p> 
                
                        </div>
                      <h4 style="font-weight: 500;"  class="card-title" style="font-weight: 500;">Average Algortim Accuraccy </h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{avergae|number}}% </span> Is the average accuracy  in the overall tests .</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                      <button mat-raised-button type="button" (click)="assign(1)" matTooltip="Show In Table " data-toggle="modal" data-target="#Tableshape" [matTooltipPosition]="'above'" class="btn btn-info btn-link btn-md btn-just-icon">
                        <i class="material-icons">table_chart</i>
                    </button>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-primary">
                    <div class="ct-chart" id="dailySalesChart1"></div>
                </div>
                <div class="card-body">
                    <div class="float-right text-danger">
                       
                       
                        <p style="font-weight: 600;">  Sampling Rate 44100
                            <span class="material-icons">
                            
                                maximize 
                                </span>
                        </p> 
                      <br>
                      <p class="text-muted" style="font-weight: 600;">  &nbsp;Sampling Rate 8000
                        <span class="material-icons">
                        
                            maximize 
                            </span>
                    </p> 
                
                        </div>
                      
                        
                    <h4  style="font-weight: 500;" class="card-title">Average Algortim F1-Score </h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{avergae2|number}}% </span> Is the average F1_Score  in the overall tests .</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> updated 4 minutes ago
                    </div>
                    <button mat-raised-button type="button" (click)="assign(2)" matTooltip="Show In Table " data-toggle="modal" data-target="#Tableshape" [matTooltipPosition]="'above'" class="btn btn-info btn-link btn-md btn-just-icon">
                        <i class="material-icons">table_chart</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <div class="float-right text-danger">
                       
                       
                        <p style="font-weight: 600;">  Sampling Rate 44100
                            <span class="material-icons">
                            
                                maximize 
                                </span>
                        </p> 
                      <br>
                      <p class="text-muted" style="font-weight: 600;">  &nbsp;Sampling Rate 8000
                        <span class="material-icons">
                        
                            maximize 
                            </span>
                    </p> 
                
                        </div>
                    <h4  style="font-weight: 500;" class="card-title">Average Algortim Recall </h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{avergae4|number}}% </span> Is the average Recall  in the overall tests .</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> campaign sent 2 days ago
                    </div>
                    <button mat-raised-button type="button" (click)="assign(3)" matTooltip="Show In Table " data-toggle="modal" data-target="#Tableshape" [matTooltipPosition]="'above'" class="btn btn-info btn-link btn-md btn-just-icon">
                        <i class="material-icons">table_chart</i>
                    </button>
                </div>
            </div>
        </div>
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 style="font-weight: 500;" class="card-title"> Testers Track </h4>
                      <p class="card-category">our classes </p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="websiteViewsChart1"></div>
                    </div>
                    <div class="card-body">
                        <h4 style="font-weight: 500;"  class="card-title"> Precision  </h4>
                        <p class="card-category">our classes </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-primary">
                            <div class="ct-chart" id="websiteViewsChart2"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="font-weight: 500;" class="card-title"> False Negative Rate </h4>
                            <p class="card-category">our classes </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-info">
                                <div class="ct-chart" id="websiteViewsChart3"></div>
                            </div>
                            <div class="card-body">
                                <h4 style="font-weight: 500;"  class="card-title"> True Negtive </h4>
                                <p class="card-category">our classes </p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
       
      </div>
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Tasks:</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                          <i class="material-icons">bug_report</i> Bugs
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                          <i class="material-icons">code</i> Website
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                          <i class="material-icons">cloud</i> Api
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Sign contract for "What are conference organizers afraid of?"</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                          </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="messages">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                          </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Sign contract for "What are conference organizers afraid of?"</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="tab-pane" id="settings">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                          </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Sign contract for "What are conference organizers afraid of?"</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Employees Stats</h4>
                      <p class="card-category">New employees on 15th September, 2016</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Premsion</th>
                              
                          </thead>
                          <tbody *ngFor="let user of contacts | async; index as i">
                              <tr>
                                  <td>{{i+1}}</td>
                                  <td>{{user.fullName}}</td>
                                  <td>{{user.Role}}</td>
                              
                              </tr>
                             
                            
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  
  <!-- Modal -->
  <div  class="modal fade" id="Tableshape" tabindex="-1" role="dialog" aria-labelledby="Tableshape" aria-hidden="true">
    <div style="width: fit-content;" class="modal-dialog" role="document" >
      <div class="modal-content" style="width: 120%;">
        <div class="modal-header text-center">
            
          <h5  class="modal-title text-center" id="Tableshape">Table shape</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                      
                        <div class="card-body">
                            
                            <div class="card">
                                <div class="card-header card-header-info">
                                  <h4 class="card-title">{{Measure}} Meature values</h4>
                                  
                              </div>
                                  <div class="card-body table-responsive">
                                      <table class="table table-hover">
                                          <thead class="text-warning">
                                              <th>Test ID</th>
                                              <th>Measure</th>
                                              <th>Sampling Rate 8000</th>
                                              <th>Sampling Rate 44100</th>
                                              
                                              <th>Time</th>
                                             
                                              
                                          </thead>
                                          <tbody *ngIf="tablenum==1">
                                      
                                              <tr *ngFor="let r of res ; index as i" >
                                                <td>{{res[i].TestId}}</td>
                                                <td>{{Measure}}</td>
                                                <td>{{res[i].Result8000[0]|number}}</td>
                                                <td>{{res[i].Result44100[0]|number}}</td>
                                                <td>{{res[i].time}}</td>
                                               
                                              </tr >
                                             
                                             
                                             
                                            
                                          </tbody>
                                          <tbody *ngIf="tablenum==2">
                                      
                                            <tr *ngFor="let r of res ; index as i" >
                                              <td>{{res[i].TestId}}</td>
                                              <td>{{Measure}}</td>
                                              <td>{{res[i].Result8000[1]|number}}</td>
                                              <td>{{res[i].Result44100[1]|number}}</td>
                                              <td>{{res[i].time}}</td>
                                             
                                            </tr >
                                           
                                           
                                           
                                          
                                        </tbody>
                                        <tbody *ngIf="tablenum==3">
                                      
                                            <tr *ngFor="let r of res ; index as i" >
                                              <td>{{res[i].TestId}}</td>
                                              <td>{{Measure}}</td>
                                              <td>{{res[i].Result8000[3]|number}}</td>
                                              <td>{{res[i].Result44100[3]|number}}</td>
                                              <td>{{res[i].time}}</td>
                                             
                                            </tr >
                                           
                                           
                                           
                                          
                                        </tbody>
                                      </table>

                          </div>
                          </div>
                        </div>
                     
                      
                    </div>
                </div>
                
              
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>
