
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<body class="bg-default">

  
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  
<div  class="container-fluid" >
  
<h2 class="mb-5 text-center">Tests</h2>
<div class="right">
  <h3 class="mb-5 text-center">List of testers</h3>
  <hr>
<div class="row" >
  <div class="">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Company Testers</h4>
            <p class="card-category">Sort Tests by the Names Down . </p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Premsion</th>
                    
                </thead>
                <tbody *ngFor="let user of contacts | async; index as i">
                    
                    <tr *ngIf="user.Role!='Viwer'" (click)="sortvia(user.fullName)" >
                        <td>{{i+1}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.Role}}</td>
                    
                    </tr >
                   
                  
                </tbody>
            </table>
            <div class="center text-center" >  
            <button  style="border-radius: 20%;"  class="btn btn-info " (click)="resetSort()"> Reset Sort</button>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div class="header-body">
  
<div class="row ">
 
<div *ngFor="let test of Test | async" class="col-md-6">
  <div *ngIf="test.TestId==parmTestID "  class=" glow-on-hover card card-stats mb-4 mb-xl-0 alert alert-dark" style="border-radius: 20%;">
        
    <div  class="card-body " >
      
    <div class="row">
     <div class="col-md-2">
        
        
            <button style="margin-top: -20%;" mat-raised-button type="button" (click)="assign(test.TestId)" matTooltip="Remove Test" data-toggle="modal" data-target="#TestDeletion" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
                <i class="material-icons">close</i>
            </button>
     
            </div>
    <div class="col"  data-toggle="modal" data-target="#StatModal" (click)='activateChart($event, test.TestId)' >
        
    <h5 class="card-title text-uppercase font-weight-boldtext-center text-center">Test ID:{{test.TestId}}</h5>
    <h4 class="h4 font-weight-boldtext-center text-center" style="color: black;">Made By: {{test.TesterName}}</h4>
    </div>
    
    <div class="col-md-2">
      
    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
    <i style="margin-right: 15%;" class="fas fa-chart-bar"></i>
    </div>
    </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm text-center">
    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
    <span class=" text-center">{{test.time}}</span> 
    
    </p>
    </div>
    </div>
<div *ngIf="Name==test.TesterName || Name=='all' && parmTestID==0 " class="card card-stats mb-4 mb-xl-0 alert alert-dark" style="border-radius: 20%;">
    
<div  class="card-body " >
  
<div class="row">
 <div class="col-md-2">
    
    
        <button style="margin-top: -20%;" mat-raised-button type="button" (click)="assign(test.TestId)" matTooltip="Remove Test" data-toggle="modal" data-target="#TestDeletion" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
            <i class="material-icons">close</i>
        </button>
 
        </div>
<div class="col"  data-toggle="modal" data-target="#StatModal" (click)='activateChart($event, test.TestId)' >
    
<h5 class="card-title text-uppercase font-weight-boldtext-center text-center">Test ID:{{test.TestId}}</h5>
<h4 class="h4 font-weight-boldtext-center text-center" style="color: black;">Made By: {{test.TesterName}}</h4>
</div>

<div class="col-md-2">
  
<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
<i style="margin-right: 15%;" class="fas fa-chart-bar"></i>
</div>
</div>
</div>
<p class="mt-3 mb-0 text-muted text-sm text-center">
<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
<span class=" text-center">{{test.time}}</span> 

</p>
</div>
</div>
</div>

</div>


<div class="row ">
  
  
  
  </div>
</div>
</div>
</div>
<!-- Page content -->



</body>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div  class="modal fade" id="StatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="width: fit-content;" class="modal-dialog" role="document" >
      <div class="modal-content" style="width: 120%;">
        <div class="modal-header text-center">
            
          <h5  class="modal-title text-center" id="exampleModalLongTitle">{{category}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <h4 style="text-align: center;">Sampling rate 8000</h4>
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="font-weight: 500;"  class="card-title" style="font-weight: 500;">Algortim Accuraccy </h4>
                            <p class="card-category">
                                <span class="text-success">Algortim Accuracy in this test: {{accuracy}} </span> </p>
                        </div>
                        <div class="card-footer">
                           
                                  <div class="card">
                                   
                                      <div class="card-body table-responsive">
                                          <table class="table table-hover">
                                              <thead class="text-warning">
                                                  <th>Measure</th>
                                                  <th>Value</th>
                                                  <th>Derivations</th>
                                                 
                                                  
                                              </thead>
                                              <tbody>
                                          
                                                  <tr >
                                                    <td>Recall</td>
                                                    <td>{{recall*100|number}}%</td>
                                                    <td>TPR = TP / (TP + FN)</td>
                                                   
                                                  </tr >
                                                  <tr >
                                                    
                                                    <td>Specifity</td>
                                                    <td>{{Specifity*100|number}}%</td>
                                                    <td>SPC = TN / (FP + TN)</td>
                                                  
                                                  </tr >
                                                  <tr >
                                                  
                                                    <td>Precision</td>
                                                    <td>{{precision*100|number}}%</td>
                                                    <td>PPV = TP / (TP + FP)</td>
                                                   
                                                  </tr >
                                                  <tr >
                                                   
                                                    <td>Negative Predictive Value</td>
                                                    <td>{{NegativePredictive*100|number}}%</td>
                                                    <td>NPV = TN / (TN + FN)</td>
                                                    
                                                  </tr >
                                                  <tr >
                                                 
                                                    <td>False Positive Rate</td>
                                                    <td>{{FalsePositive*100|number}}%</td>
                                                  
                                                    <td>FPR = FP / (FP + TN)</td>
                                                
                                                  </tr >
                                                  <tr >
                                             
                                                    <td>False Discovery Rate</td>
                                                    <td>{{FalseFiscovery*100|number}}%</td>
                                                   
                                                    <td>FDR = FP / (FP + TP)</td>
                                               
                                                  </tr >
                                                  <tr >
                                    
                                                    <td>False Negative Rate</td>
                                                    <td>{{FalseNegative*100|number}}%</td>
                                                
                                                    <td>FNR = FN / (FN + TP)</td>
                                                 
                                                  </tr >
                                                  <tr >
                                                
                                                    <td>Accuracy</td>
                                                    <td>{{accuracy*100|number}}%</td>
                                                    <td>ACC = (TP + TN) / (P + N)</td>
                                                   
                                                  </tr >
                                                  <tr >
                                                  
                                                    <td>F1 Score</td>
                                                    <td>{{f1*100|number}}%</td>
                                                    
                                                    <td>F1 = 2TP / (2TP + FP + FN)</td>
                                                  </tr >
                                                  <tr >
                                                  
                                                   
                                                 
                                                    
                                                    <td>Matthews Correlation Coefficient</td>
                                                    <td>{{Matthews*100|number}}%</td>
                                                    <td>TP*TN - FP*FN / sqrt((TP+FP)*(TP+FN)*(TN+FP)*(TN+FN))</td>
                                                  </tr >
                                                
                                               
                                                 
                                                 
                                                
                                              </tbody>
                                          </table>
 
                              </div>
                              </div>
                           
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-primary">
                            <h4 style="text-align: center;">Sampling rate 44100 </h4>
                           
                            <div class="ct-chart" id="dailySalesChart1"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="font-weight: 500;"  class="card-title" style="font-weight: 500;">Algortim Accuraccy </h4>
                            <p class="card-category">
                                <span class="text-success">Algortim Accuracy in this test: {{accuracy2}} </span> </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>



  <div  class="modal fade" id="TestDeletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="width: fit-content;" class="modal-dialog" role="document" >
      <div class="modal-content" style="width: 120%;">
        <div class="modal-header text-center">
            
          <h5  class="modal-title text-center" id="exampleModalLongTitle">Remove Test</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <p>Are you sure you want to delete this test</p>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <button (click)="delete()" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
        
        </div>
      
      </div>
    </div>
  </div>