
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<body class="bg-default">

  
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  
<div  class="container-fluid" >
  
<h2 class="mb-5 text-center">Tests</h2>
<div class="right">
  <h3 class="mb-5 text-center">List of testers</h3>
  <hr>
<div class="row" >
  <div class="">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Company Testers</h4>
            <p class="card-category">Sort Tests by the Names Down . </p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Premsion</th>
                    
                </thead>
                <tbody *ngFor="let user of contacts | async; index as i">
                    
                    <tr *ngIf="user.Role!='Viwer'" (click)="sortvia(user.fullName)" >
                        <td>{{i+1}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.Role}}</td>
                    
                    </tr >
                   
                  
                </tbody>
            </table>
            <div class="center text-center" >  
            <button  style="border-radius: 20%;"  class="btn btn-info " (click)="resetSort()"> Reset Sort</button>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div class="header-body">
  
<div class="row">
  
<div *ngFor="let test of Test | async" class="col-md-6">
<div *ngIf="Name==test.TesterName || Name=='all' " class="card card-stats mb-4 mb-xl-0 alert alert-dark" style="border-radius: 20%;">
    
<div  class="card-body"  data-toggle="modal" data-target="#StatModal" (click)='activateChart($event, test.TestId)'>
<div class="row">
<div class="col">
<h5 class="card-title text-uppercase font-weight-boldtext-center text-center">Test ID:{{test.TestId}}</h5>
<h4 class="h4 font-weight-boldtext-center text-center">Made By: {{test.TesterName}}</h4>
</div>
<div class="col-auto">
<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
<i class="fas fa-chart-bar"></i>
</div>
</div>
</div>
<p class="mt-3 mb-0 text-muted text-sm text-center">
<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
<span class=" text-center">{{test.time}}</span> 

</p>



</div>
</div>
</div>

</div>
</div>
</div>
</div>
<!-- Page content -->



</body>
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div  class="modal fade" id="StatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div style="width: fit-content;" class="modal-dialog" role="document" >
      <div class="modal-content" style="width: 120%;">
        <div class="modal-header text-center">
            
          <h5  class="modal-title text-center" id="exampleModalLongTitle">{{category}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <h4 style="text-align: center;">samplingrate 8000</h4>
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="font-weight: 500;"  class="card-title" style="font-weight: 500;">Algortim Accuraccy </h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5% </span>  Accuracy increase in the last test .</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-primary">
                            <h4 style="text-align: center;">samplingrate 44100 </h4>
                           
                            <div class="ct-chart" id="dailySalesChart1"></div>
                        </div>
                        <div class="card-body">
                            <h4 style="font-weight: 500;"  class="card-title" style="font-weight: 500;">Algortim Accuraccy </h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5% </span>  Accuracy increase in the last test .</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>