


<body>


    <h2 class="text-center" style="margin-top: 5%;"> Sound Repsitory</h2>
  
    
   
     <div class="row justify-content-center" style="align-items: center;">
        <div class="card col-md-3" style="margin-left: 1%; border-radius: 10%; "   *ngFor="let cat of Category | async ;let i = index"  >
          <h5 class="card-title justify-content-center" style="text-align: center;" >{{cat.Name.replace(".wav","")}}</h5>
         
          <div class="card-body">
           
            <section class="item-card center" style="background-color: #5cb85c;; border-radius: 5%;" >
              <div style="margin-left: 2%;"  class="item-summary">
    
              <p style="color: #ffff;" class="venue">Category</p>
              <address class="address">
              <p style="color: #ffff;" class="street-address">{{cat.Path}}</p>
              
              </address>
              </div>
              
              <div style="margin-left: 2%;"  class="item-time-date">
              <time style="color: #ffff;" class="date" datetime="2018-10-16">{{cat.Date}}</time>
              
              </div>
              
              </section>
            
              <audio style="width: 90%;" controls class="embed-responsive-item">
                  <source src={{cat.Url}}>
              </audio>
       
          </div>
        </div>
      </div>
   
        
<!-- 
        <div class="col-sm-4 col-sm-offset-4 embed-responsive embed-responsive-4by3">
          <audio controls class="embed-responsive-item">
              <source src={{cat.Url}}>
          </audio>
      </div>
        <div  class="top-droppable folder tooltiper tooltiper-up sonar-emitter" data-tooltip="0 file" id="folder3" on-mouseover='playCurrentSound(cat.Url)' on-mouseout="stopCurrentSound()" (click)='PassInfo(cat)'  data-toggle="modal" data-target="#contact">
        <div class="sonar-wave" >
         
        <i class="fa fa-music" aria-hidden="true"></i>
        <i class="fa fa-check" aria-hidden="true"></i>
      
        <p style="font-weight: 500; font-family: Arial, Helvetica, sans-serif; color:black;">{{cat.Name.replace(".wav","")}}</p>
        
      </div>
    </div>

      </div>
    -->
      

 

  


<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm"  style="margin-top: 5%;">
  <section class="item-card center" style="background-color: #5cb85c;; border-radius: 5%;" >
    <div style="margin-left: 2%;"  class="item-summary">
      
    <h2 class="title" style="color: #ffff;">{{info}}</h2>
    <p style="color: #ffff;" class="venue">Category</p>
    <address class="address">
    <p style="color: #ffff;" class="street-address">{{path}}</p>
    
    </address>
    </div>
    
    <div style="margin-left: 2%;"  class="item-time-date">
    <time style="color: #ffff;" class="date" datetime="2018-10-16">{{date}}</time>
    <time style="color: #ffff;" class="time" datetime="19:00">{{newDate1}}</time>
    </div>
    
    </section>
</div>
<div class="center text-center" >  
  <button data-toggle="modal" data-target="#Test" data-dismiss="modal" style="margin: 10px;" class="btn btn-info" (click)="fetchFileFromStorage()">Show More Info</button>  
</div> 
</div>

<div class="modal fade" id="Test" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...................................................
        <br>
        <br>
        ...................................................
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</body>



